body {
  margin: 0;
  background-color: rgb(197, 197, 197);
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas:
    "greenArea redArea "
    "yellowArea blueArea";
  grid-gap: 10px;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.green {
  grid-area: greenArea;
  background: green;
  border-top-left-radius: 100%;
}

.red {
  grid-area: redArea;
  background: red;
  border-top-right-radius: 100%;
}

.yellow {
  grid-area: yellowArea;
  background: yellow;
  border-bottom-left-radius: 100%;
}

.blue {
  grid-area: blueArea;
  background: blue;
  border-bottom-right-radius: 100%;
}

.selected {
  opacity: 0.8;
}
